<div class="container meu-card" style="margin-top: 25px;">
<table class="table table-secondary table-striped table-bordered rounded">
    <thead>
      <tr>
        <th scope="col" class="text-center align-middle">LISTA</th>
        <th scope="col" style="width: 120px;" class="text-center align-middle">OPÇÕES</th>
      </tr>
    </thead>
    <tbody>
      <% @lists.each do |list| %>
        <tr>
          <td class="align-middle text-center">
            <%= link_to list.name, list, style: "text-decoration: none;", class: "link-hover" %>
          </td>
          <td class="align-middle text-center">
            <div class="d-flex justify-content-center">
              <%= button_to "Excluir", list, method: :delete, class: "btn btn-danger ms-2" %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= button_to 'Nova Lista', new_list_path, method: :get, class: 'btn btn-success' %>
</div>
