<h1 class="text-center txt-cor">Nova Lista de TO DO</h1>
<div class="d-flex justify-content-center">
  <%= form_for @list do |f| %>
    <div class="form-group">
      <div class="txt-cor">Nome da lista</div>
      <%= f.text_field :name, class: 'form-control'  %>
    </div>
    <div class="container" style="margin-top: 8px;">
      <%= f.submit 'Criar Lista', class: 'btn btn-success mr-2' %>
      <%= link_to 'Cancelar', lists_path, class: 'btn btn-danger' %>
    </div>
  <% end %>
</div> 